<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>This is  Harvlight, Harvard's Library Technology Services implementation of Blacklight using 
<a href="https://duckduckgo.com/l/?kh=-1&uddg=http%3A%2F%2Flibrarycloud.org%2F" target="new">Library Cloud</a></p>

<p>Our initial intent is to provide a view into the Library Cloud database for those who are not API or solr schema fluent</p>
<p> We hope to build upon this by layering <a href="http://library.stanford.edu/blogs/digital-library-blog/2014/06/stanford-university-libraries-completes-first-phase-development" target="_new" title="read the press release">Spotlight</a> on top of this implementation, to allow for the creation of online exhibits</p>

<p>Code for this can be found on <a href="https://github.com/harvard-library/harvlight" target="new">GitHub</a></p>
<% #Creates a bit space in the page -%>

